<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/39f963dc-8206-43b2-9623-e1298bcdbab1/resourceGroups/SocialMediasAssistant/providers/Microsoft.Web/sites/SocialMediasAssistant</ResourceId>
    <ResourceGroup>SocialMediasAssistant</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://socialmediasassistant.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>socialmediasassistant.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SocialMediasAssistant</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SocialMediasAssistant</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:socialmediasassistant.database.windows.net,1433;Initial Catalog=SocialMediasAssistant;User ID=huseynovramil@socialmediasassistant.database.windows.net;Password=alabunuACILdabrat3" Name="Data Source=tcp:socialmediasassistant.database.windows.net,1433;Initial Catalog=SocialMediasAssistant;User Id=huseynovramil@socialmediasassistant.database.windows.net;Password=alabunuACILdabrat3;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SocialMediasAssistant.Models.ApplicationDbContext, SocialMediasAssistant" MigrationConfiguration="SocialMediasAssistant.Migrations.Configuration, SocialMediasAssistant" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:socialmediasassistant.database.windows.net,1433;Initial Catalog=SocialMediasAssistant;User Id=huseynovramil@socialmediasassistant.database.windows.net;Password=alabunuACILdabrat3;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>