@{
    ViewBag.Title = Resources.Resource.ConfirmEmail;
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
      @Resources.Resource.ConfirmedEmail  @Html.ActionLink(Resources.Resource.ConfirmedEmailLink, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
