@{
    ViewBag.Title = "Home Page";
}

<div id="mainjumbotron" class="jumbotron">
    <h1 class="jumbotron-main-text text-dark " style="width:28%;">Social Media Assistant</h1>
    <br />
    <p class="jumbotron-text lead text-dark d-none d-lg-block" style="width:30%;">Social Media Assistant is a website for increasing
    likes, followers, favs and etc. in sites like 
     Facebook, Instagram</p>
    <p><a class = "btn btn-primary btn-lg" href="https://localhost/sma/Home/About">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Get Facebook Likes</h2>
        <p>
            Using our site you can increase the number of likes of your posts through Facebook.

        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>