
@{
    ViewBag.Title = "Add Account";
}

<h2>Add Account</h2>
@using (Html.BeginForm())
{ 
    <h5>You want to add Instagram account to get followers?</h5>
    <input type="submit" class="btn btn-primary" value="Yes"/>
}

